---
title: cv
layout: base
history:
  - company: Eucalyptus
    title: Software Engineer
    period: Apr 2021 - Present
  - title: Junior Full-stack Engineer
    period: Apr 2020 - Apr 2021
  - company: GROW
    title: Associate Frontend Developer
    period: Oct 2019 - Mar 2020
    description:
    - I worked on GROW's superannuation administration platform TINA, B2B software built on distributed ledger technology (blockchain).
    - Here I co-authored several key features within the TINA UI, aligning components with GROW's design system and business/product requirements, while addressing technical debt, and finding and fixing bugs.
    - Due to the COVID-19 pandemic, all employees were made redundant in late March 2020.
    info:
    - Key features I worked on include Member Insurance, Audit Log and Case Management
    - Researched, documented and submitted proposals for new third-party integrations
    - Implemented a system for error tracking across the frontend codebase
    - Demonstrated strong verbal communication skills, collaborating across teams spanning design, product, backend and testing
    - Helped new engineers find their feet
    - Maintained their existing superannuation fund platform and its member accounts
    - "Tech stack: Vue.js, Vuex, HTML, CSS/SCSS, Tailwind CSS, Koa, Node.js, Jest, Cypress"
  - company: HealthBank
    title: Intern Frontend Developer
    period: Aug 2019
    description:
    - Over the 4-week period I interned at HealthBank, a healthtech/telehealth startup, I helped polish key parts of their UI and made it easier for their users to connect with allied health professionals.
    info:
    - Wrote a custom, dynamic search bar for locating health practitioners based on their profession and specialty
    - Implemented a system that allows users to filter practitioners by date/time of availability and appointment type
    - Collaborated with backend and product/design to flesh out requirements and deliver frontend solutions
    - Revamped UI for practitioner listings and profile cards
    - "Tech stack: JavaScript, Stimulus.js, HTML, CSS/SCSS"
  - company: Coder Academy
    title: Diploma of IT
    period: Feb 2019 - Aug 2019
    description:
    - After years of pursuing science research, I decided to change careers and upskill as a full-stack software engineer. ✨
    - Here I learnt a lot about building software from ideation to deployment, and discovered a passion and talent for frontend engineering.
    info:
    - Built two full-stack apps, a portfolio site and a terminal app, acting as tech/team lead for all group projects
    - Wrote a lot of code, broke a lot of things, fixed a lot of bugs
    - Graduated with a High Distinction average
    - "Tech stack: JavaScript MERN stack (React.js, Redux, Express.js, Node.js, MongoDB), HTML, CSS/SCSS, Ruby on Rails, PostgreSQL, Jest, Cypress, AWS, Heroku"
  - company: Mostro Coffee
    title: Barista
    period: 2018
    description:
    - Grinding beans and pouring lattes at a small speciality coffee joint inside Oxford's first and only independent record store.
  - company: University of Oxford
    title: Doctor of Philosophy, deferred completion
    period: 2013 - 2017
    description:
    - Working within the Division of Structural Biology, I researched the structure and function of cell-surface proteins implicated in cancer metastasis.
    info:
    - One of 6 recipients awarded a Cancer Research UK-Nuffield Department of Medicine Prize Studentship, a fully-funded 4-year scholarship
    - Volunteered as a Call-Taker & Trainer at Oxford Nightline (2015 - 2017), a student-led supportive listening service
    - As President of the Middle Common Room, Magdalen College (2015) I managed a committee of 25 to serve and represent the graduate student body in all aspects of college life (social, welfare, academic)
  - company: University of Sydney
    title: Master of Science (Chemistry)
    period: 2012 - 2013
    description:
    - I developed novel molecular switches that undergo structural and magnetic changes in response to environmental stimuli e.g. changes in temperature, pressure and exposure to light.
  - title: Postgraduate Teaching Fellow
    period: 2012
    description:
    - A part-time academic appointment within the School of Chemistry. Here I taught the Fundamentals of Chemistry 1A & 1B (CHEM1001/2) courses, a stream designed for first-year university students with no prior chemistry knowledge.
    info:
    - Held 4 interactive problem-based classes a week, each with 20 - 30 students, and marked examinations at semester end
    - Received consistently positive feedback from anonymous student surveys after each module, with reported strengths being my enthusiastic and engaging teaching style, and my ability to make difficult concepts easy to understand
  - title: Bachelor of Science (Advanced) (Honours)
    period: 2008 - 2011
    description:
    - I majored in biochemistry and chemistry, and completed my Honours research year in inorganic materials chemistry and X-ray crystallography.
    info:
    - Graduated with First Class Honours and the University Medal
    - Ranked 1st in chemistry cohort, awarded final mark of 95
    - Admitted to the Talented Student Program by the Dean of Faculty of Science for duration of degree

---

{# <div class="cv-link-container">
  <a tabindex="0" role="button" class="cv-link" href="/assets/AlexDiwaCV.pdf" download>
    <svg class="paper" viewBox="0 0 26 34" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g fill="none" stroke-width="3"><path d="M24.429 9.194L16.884 1.5H1.5v30.187h22.929V9.194zM23.219 9.763l-6.73.019M16.407 2.966l-.026 6.809"/></g></svg>
    download CV
  </a>
</div> #}
{% for experience in history %}
  <article class="cv {% if not experience.company %}reduced-margin{% endif %}">
    <div class="cv-header">
      {% if experience.company %}
      <h2>
        {{ experience.company }}
      </h2>
      {% endif %}
      <span class="cv-period">
        {{ experience.period }}
      </span>
    </div>
    {{ experience.title }}
    <div class="cv-description">
      {% for item in experience.description %}
      <p>{{ item }}</p>
      {% endfor %}
    </div>
    {% if experience.info %}
    <ul class="cv-info">
    {% for item in experience.info %}
      <li>
        <span>{{ item }}</span>
      </li>
    {% endfor %}
    </ul>
    {% endif %}
  </article>
{% endfor %}